<h1><%= @restaurant.name %></h1>
<ul>
  <li>Address: <strong><%= @restaurant.address %></strong></li>
  <li>Phone number: <strong><%= @restaurant.phone_number %></strong></li>
  <li>Category: <strong><%= @restaurant.category %></strong></li>
</ul>
